<!DOCTYPE html>
<html>

<head>
  <title>Fantasy Portfolio</title>
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/users/index" class="brand-logo left"><img src="https://i.imgur.com/WYsDJfm.png" alt="fantasy portfolio logo" height="60" width="200"></a>
        <ul class="right">
          <li>
          <% if (user) { %>
              <a href="/logout">Log Out</a>
          <% } else { %>
              <a href="/auth/google">Login with Google</a>
          <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>