<% include ./partials/header %>
<div class="container center">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>We want to help you pick a portfolio by answering a few questions</p>
    <p>In order to start and have the ability to save we require you to log in with google.</p>
    <p>Please log in to begin</p>
  </div>
  
<% include ./partials/createFooter %>
