<% include ./partials/header %>

<div class="hero">
<div class="container center">
    <h1><%= title %></h1>
    <h5>Welcome to <%= title %></h5>
    <h5>Want to start making so much money you can burn it?</h5>
    <h5>Sign in to begin!</h5>
  </div>
</div>

<% include ./partials/createFooter %>
