nav {
  background-color: #00BBD4;
}


body{
  background-color: #8D8882;
}

span{
  font-weight: bolder
}

a{
  color: #00BBD4
}

button{
  border-radius: 10px;
}

.input-field>label {
  color: #00BBD4;
  font-size: 1.3em;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: -42px;
  background: url(https://i.imgur.com/abdcdLJ.jpg?1) top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}


#btn{
  background-color: red;
  color: white;
}

#btn:hover{
  background-color: white;
  color: red;
}

#block-edit{
  margin-top: 35px;
  margin-bottom: 20px;
}

#move{
  margin-left: -12px;
}

.link-hov-g:hover{
  color: rgb(11, 238, 37)
}
.link-hov-y:hover{
  color: rgb(255, 255, 0)
}
.link-hov-b:hover{
  color: rgb(39, 7, 250)
}

#middle{
  margin-left: 40px;
  margin-right: 40px;
}

#px{
  margin-left: 11px;
}

#refresh:hover{
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  0% {
    transfore: rotate(none);
  }
  100% {
    transform: rotate(360deg);
  }
}