<% include ../partials/header %>

<br>
<div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s12">
            <input name="name" type="text">
            <label for="name">What would you like to name this portfolio</label>
        </div>
        </div>
        <div class="input-field col s12">
            <select name="risk">
                <option value="" disabled selected>Choose your option</option>
                <option value="High">High Risk</option>
                <option value="Low">Low Risk</option>
            </select>
            <label>How much risk would you like to take?</label>
        </div>
    </form>
</div>






<% include ../partials/createFooter %>
