<% include ../partials/header %>

<br>
<div class="row">
    <form class="col s12" action="/users/showadd" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input name="name" type="text">
                <label for="name">What would you like to name this portfolio</label>
            </div>
        </div>
        <div id="move" class="input-field col s12">
            <select name="risk">
                <option value="" disabled selected>Choose your option</option>
                <option value="High">High Risk</option>
                <option value="Low">Low Risk</option>
            </select>
            <label for="risk">How much risk would you like to take?</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="inv" type="text">
                <label for="inv">How much would you like to invest</label>
            </div>
        </div>
        <div id="move" class="input-field col s12">
            <select name="timeF">
                <option value="" disabled selected>Choose your option</option>
                <option value="Short">Less than one year</option>
                <option value="Long">More than one year</option>
            </select>
            <label for="timeF">How long do you plan on holding this portfolio for?</label>
        </div>
        <input type="submit" value="Submit" class="btn">
    </form>
</div>
<a id="px" href="/users/index">Back</a>





<% include ../partials/createFooter %>
