<% include ../partials/header %>

    <h3 class="center-align">Hello, <%=user.name%> and welcome to your <%= title %>!</h3>
    <p class="center-align">Below are the current portfolios we have created together</p>
    <table class="container highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
              <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td><a href="#" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a></td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td><a href="#" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a></td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
            <td><a href="#" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a></td>
          </tr>
        </tbody>
      </table>
      <h5 class="center">When you are ready to create another portfolio...</h5>
      <form action="/users/new" method="GET" class="container center">
        <input type="submit" class="waves-effect waves-light btn" value="Click Here!">
      </form>
  </body>
</html>
