<% include ../partials/header %>
<div class="container center">
    <h4>This portfolio was added</h4>
    <p>Name of portfolio: <%= port.name %></p>
    <p>Risk Tolerance: <%= port.risk %></p>
    <p>Initial Investment: $<%= port.inv %></p>
    <p>Time Frame: <%= port.timeF %></p>
    <a href="/users/index">Back</a>
</div>

<% include ../partials/createFooter %>